.bar {
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  font-size: 20px;
  float: left;
  margin-right: 10px;
}

.custom-range {
  width: 200px !important;
}

.value {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}