nav {
  z-index: 100;
}

.bar {
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  font-size: 20px;
  float: left;
  margin-right: 10px;
  font-size: 1.25vw;
}

.custom-range {
  width: 250px !important;
}

.value {
  position: absolute;
  width: 100%;
  bottom: 2.5px;
  left: 0;
}